/* ===================== *
 * App Colors
 * ===================== */
$app-cta-color: #c03b2a !default;
$app-background-color: #ecf1f2 !default;
$app-ribbon-color: #b5bfcc !default;
$app-primary-color: #2980b9 !default;
$app-secondary-color: #3498db !default;
$app-info-color: #aedbf5 !default;
$app-nav-color: #2c3e50 !default;
$app-copy-color: #2c3e50 !default;
$app-secondary-action-color: #4eb96e !default;
$app-rollover-color: #3d5771 !default;
$app-flyout-color: #5c6373 !default;
$app-sport-icon-color: #939da5 !default;

/* =====================
 * Links
 * ===================== */
$link-color: $app-secondary-color !default;
$link-visited-color: #a199a2 !default;

/* ===================== *
 * Typography
 * ===================== */
$copy-font: "Roboto", Helvetica, Arial, sans-serif !default;
$heading-font: "Homestead", "Times New Roman", serif !default;
$subheading-font: "Roboto Light", Helvetia, Arial, sans-serif !default;

/* ===================== *
 * Form Vars
 * ===================== */
$placeholder-color: #a199a2 !default;
$form-container-bg: #fff !default;
$form-heading-size: 24px !default;
$form-heading-line-height: 2.2em !default;
$form-control-radius: 2px !default;
$form-control-height: 45px !default;
