.vnn-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Vnn-Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.vnn-icon-slim {
    font-family: 'Vnn-Slim';
  }
}

.vnn-icon-large {
  font-size: 180% !important;
}

.vnn-icon-plus {
  &:before {
    content: 'a';
  }
}

.vnn-icon-contact {
  &:before {
    content: 'p';
  }
}

.vnn-icon-baseball {
  &:before {
    content: 'A';
  }
}

.vnn-icon-basketball {
  &:before {
    content: 'B';
  }
}

.vnn-icon-bowling {
  &:before {
    content: 'C';
  }
}

.vnn-icon-competitive-cheer, .vnn-icon-sideline-cheer {
  &:before {
    content: 'D';
  }
}

.vnn-icon-crew {
  &:before {
    content: 'E';
  }
}

.vnn-icon-cross-country {
  &:before {
    content: 'F';
  }
}

.vnn-icon-dance {
  &:before {
    content: 'G';
  }
}

.vnn-icon-equestrian {
  &:before {
    content: 'H';
  }
}

.vnn-icon-field-hockey {
  &:before {
    content: 'I';
  }
}

.vnn-icon-skating {
  &:before {
    content: 'J';
  }
}

.vnn-icon-football {
  &:before {
    content: 'K';
  }
}

.vnn-icon-golf {
  &:before {
    content: 'L';
  }
}

.vnn-icon-gymnastics {
  &:before {
    content: 'M';
  }
}

.vnn-icon-hockey {
  &:before {
    content: 'N';
  }
}

.vnn-icon-lacrosse {
  &:before {
    content: 'O';
  }
}

.vnn-icon-rugby {
  &:before {
    content: 'P';
  }
}

.vnn-icon-skiing, .vnn-icon-nordic-skiing {
  &:before {
    content: 'Q';
  }
}

.vnn-icon-soccer {
  &:before {
    content: 'R';
  }
}

.vnn-icon-softball {
  &:before {
    content: 'S';
  }
}

.vnn-icon-swimming {
  &:before {
    content: 'T';
  }
}

.vnn-icon-tennis {
  &:before {
    content: 'U';
  }
}

.vnn-icon-track, .vnn-icon-indoor-track {
  &:before {
    content: 'V';
  }
}

.vnn-icon-volleyball {
  &:before {
    content: 'W';
  }
}

.vnn-icon-water-polo {
  &:before {
    content: 'X';
  }
}

.vnn-icon-wrestling {
  &:before {
    content: 'Y';
  }
}

.vnn-icon-slim {

  &.vnn-icon-plus {
    &:before {
      content: 'a';
    }
  }

  &.vnn-icon-clock {
    &:before {
      content: 'b';
    }
  }

  &.vnn-icon-check {
    &:before {
      content: '{';
    }
  }

  &.vnn-icon-minus {
    &:before {
      content: 'c';
    }
  }

  &.vnn-icon-refresh {
    &:before {
      content: 'd';
    }
  }

  &.vnn-icon-pencil-circle {
    &:before {
      content: 'e';
    }
  }

  &.vnn-icon-search {
    &:before {
      content: 'f';
    }
  }

  &.vnn-icon-keyhole {
    &:before {
      content: 'g';
    }
  }

  &.vnn-icon-contact {
    &:before {
      content: 'h';
    }
  }

  &.vnn-icon-hourglass {
    &:before {
      content: 'i';
    }
  }

  &.vnn-icon-home {
    &:before {
      content: 'j';
    }
  }

  &.vnn-icon-clock-thin {
    &:before {
      content: 'k';
    }
  }

  &.vnn-icon-football {
    &:before {
      content: 'l';
    }
  }

  &.vnn-icon-wait {
    &:before {
      content: 'm';
    }
  }

  &.vnn-icon-chevron-down {
    &:before {
      content: 'n';
    }
  }

  &.vnn-icon-chevron-up {
    &:before {
      content: 'o';
    }
  }

  &.vnn-icon-edit-box {
    &:before {
      content: 'p';
    }
  }

  &.vnn-icon-link {
    &:before {
      content: 'q';
    }
  }

  &.vnn-icon-lock {
    &:before {
      content: 'r';
    }
  }

  &.vnn-icon-paperclip {
    &:before {
      content: 'R';
    }
  }

  &.vnn-icon-left-arrow {
    &:before {
      content: 's'
    }
  }

  &.vnn-icon-right-arrow {
    &:before {
      content: 't'
    }
  }

  &.vnn-icon-left-arrow-circle {
    &:before {
      content: 'u';
    }
  }

  &.vnn-icon-right-arrow-circle {
    &:before {
      content: 'v';
    }
  }

  &.vnn-icon-add-circle {
    &:before {
      content: 'w';
    }
  }

  &.vnn-icon-email {
    &:before {
      content: 'x';
    }
  }

  &.vnn-icon-map-marker {
    &:before {
      content: 'y';
    }
  }

  &.vnn-icon-comment {
    &:before {
      content: 'z';
    }
  }

  &.vnn-icon-video {
    &:before {
      content: 'A';
    }
  }

  &.vnn-icon-feed {
    &:before {
      content: 'C';
    }
  }

  &.vnn-icon-sync {
    &:before {
      content: 'D';
    }
  }

  &.vnn-icon-phone {
    &:before {
      content: 'J';
    }
  }

  &.vnn-icon-phone-filled {
    &:before {
      content: 'K';
    }
  }

  &.vnn-icon-video-filled {
    &:before {
      content: 'F';
    }
  }

  &.vnn-icon-new {
    &:before {
      content: 'G';
    }
  }

  &.vnn-icon-menu {
    &:before {
      content: 'I';
    }
  }

  &.vnn-icon-email-filled {
    &:before {
      content: 'L';
    }
  }

  &.vnn-icon-add-circle-filled {
    &:before {
      content: 'M';
    }
  }

  &.vnn-icon-close-circle-filled {
    &:before {
      content: 'N';
    }
  }

  &.vnn-icon-close {
    &:before {
      content: 'O';
    }
  }

  &.vnn-icon-trash {
    &:before {
      content: 'Q';
    }
  }

  &.vnn-icon-x-men {
    &:before {
      content: 'S';
    }
  }

  &.vnn-icon-football-helmet {
    &:before {
      content: 'T';
    }
  }

  &.vnn-icon-dude-circle {
    &:before {
      content: 'V';
    }
  }

  &.vnn-icon-camera {
    &:before {
      content: 'W';
    }
  }

  &.vnn-icon-camera-circle {
    &:before {
      content: 'X';
    }
  }

  &.vnn-icon-close-circle {
    &:before {
      content: 'Y';
    }
  }

  &.vnn-icon-checked-box {
    &:before {
      content: 'Z';
    }
  }

  &.vnn-icon-check-circle {
    &:before {
      content: '0';
    }
  }

  &.vnn-icon-cog {
    &:before {
      content: '1';
    }
  }

  &.vnn-icon-calendar {
    &:before {
      content: '2';
    }
  }

  &.vnn-icon-full-clock {
    &:before {
      content: '3';
    }
  }

  &.vnn-icon-stopwatch {
    &:before {
      content: '4';
    }
  }

  &.vnn-icon-warning {
    &:before {
      content: '5';
    }
  }

  &.vnn-icon-info {
    &:before {
      content: '6';
    }
  }

  &.vnn-icon-question {
    &:before {
      content: '7';
    }
  }

  &.vnn-icon-twins {
    &:before {
      content: '8';
    }
  }

  &.vnn-icon-contact-add {
    &:before {
      content: '9';
    }
  }

  &.vnn-icon-calendar-open {
    &:before {
      content: '_';
    }
  }

  &.vnn-icon-slim-close-white {
    &:before {
      content: 'Y';
    }

    &:hover:before {
      content: 'N';
    }

    &.disabled {
      color:#a7a7a7;

      &:hover:before {
        content:'Y';
      }

    }

    cursor: pointer;
  }


  &.vnn-icon-add-white {
    &:before {
      content: 'w';
    }

    &:hover:before {
      content: 'M';
    }

    &.disabled {
      color:#a7a7a7;

      &:hover:before {
        content:'w';
      }

    }

    cursor: pointer;
  }
}
