@import "uniform";


/* ===================== *
 * Tender SCSS
 * ===================== */


body {
  overflow-x: hidden;
  padding-top: 0px !important ;
}

#title {
  color: white;
}


/* ===================== *
 * Navigation
 * ===================== */


.nav {
  height: 70px;
  background-color: $app-primary-color;
}

.subnav {
  border-top: 3px solid $app-background-color;
  padding-top: 10px;
  color: $app-copy-color;
  background-color: $app-ribbon-color;
}

.subnav ul li {
  font-size: 14px;
  padding-left: 10px;
  font-family: $subheading-font;
  color: $app-inverted-copy-color;
}


/* ===================== *
 * Back To Top Button
 * ===================== */


.top {
  padding: 10px;
  position: fixed;
  bottom: 0;
  background-color: $app-ribbon-color;
  color: $app-inverted-copy-color;
  z-index: 1;
}

.top a {
  color: $app-inverted-copy-color;
  text-decoration: none;
}


/* ===================== *
 * First Row
 * ===================== */

.display_img {
  padding-top: 15px;
  padding-left: 55px;
  margin-top: 20px;
  margin-bottom: 50px;
}


/* ===================== *
 * Colors Row
 * ===================== */


.colors {
  background-color: $app-primary-color;
  padding: 50px 0 100px 0;
}

.colors .color_items {
  margin-top: 40px;
}

.colors_title {
    font-family: $subheading-font;
    color: $app-inverted-copy-color;
}

.colors .color_items .color_label {
  font: $subheading-font;
  color: $app-copy-color;
  line-height: 100%;
  padding: 2px;
  padding-top: 8px;
  border-top: 1px solid $app-ribbon-color;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $gray;
}

.colors .color_items .color_label span {
  font-family: $copy-font;
  font-weight: bold;
}

.colors .color_items .cta_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-cta-color;
}

.colors .color_items .background_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-background-color;
}

.colors .color_items .ribbon_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-ribbon-color;
}

.colors .color_items .primary_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-primary-color;
}

.colors .color_items .secondary_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-secondary-color;
}

.colors .color_items .info_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-info-color;
}

.colors .color_items .nav_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-nav-color;
}

.colors .color_items .subnav_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-sub-nav-color;
}

.colors .color_items .copy_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-copy-color;
}

.colors .color_items .inverted_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-inverted-copy-color;
}

.colors .color_items .action_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-secondary-action-color;
}

.colors .color_items .rollover_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-rollover-color;
}

.colors .color_items .flyout_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-flyout-color;
}

.colors .color_items .icon_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $app-sport-icon-color;
}

.colors .color_items .graydarker_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $gray-darker;
}

.colors .color_items .graydark_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $gray-dark;
}

.colors .color_items .gray_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $gray;
}

.colors .color_items .graylight_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $gray-light;
}

.colors .color_items .graylighter_color {
  height: 145px;
  margin-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $gray-lighter;
}


/* ===================== *
 * Typography Row
 * ===================== */


 .type {
   background-color: $gray-lighter;
   padding: 50px 0 100px 0;
 }

.type_bg {
  background-color: $gray-light;
}

 .type .type_items {
   margin-top: 40px;
 }

 .type_title {
     font-family: $subheading-font;
     color: $app-inverted-copy-color;
 }

 .type .type_items .type_label {
   font: $subheading-font;
   color: $app-copy-color;
   line-height: 100%;
   padding: 2px;
   padding-top: 8px;
   border-top: 1px solid $app-ribbon-color;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   background-color: $gray;
 }

 .type .type_items .type_label span {
   font-family: $copy-font;
   font-weight: bold;
 }
